{% extends 'base.html.twig' %}

{% block title %}Flanano - 404{% endblock %}

{% block main %}
<section class="notfound-container flex flex-column justify-center gap-10">
    <h1>Page introuvable</h1>
    <p>La page que vous recherchez n'existe pas</p>
    <a class="btn-primary" href="{{ path('home_index') }}">Retour</a>
</section>
{% endblock %}