<footer class="flex flex-column gap-100">
    <div class="flex flex-column justify-between gap-10">
        <h3>
            <span>
                <img src="{{ asset('logo.svg') }}" alt="Logo Flanano">
            </span>
            By
            <a href="https://github.com/fannysaez" target="_blank">Fanny Saez</a>
            &
            <a href="https://github.com/HeyAnto" target="_blank">Antonin Sioly</a>
        </h3>
        <p>Flanano © 2025</p>
    </div>
    <img class="footer-logo" src="{{ asset('logo.svg') }}" alt="Logo Flanano">
</footer>